{% extends 'sentiment/base.html' %}
{% block title %}}Change Password{% endblock %}
{% block body %}
<style>
.list
      {
         margin-left:200px;
         margin-top:-20px;
         font-size:20px;
         black: #fff;


      }
      p{
      font-size:15.5px;
      font-weight:600;
      }

</style>




    <h2 style="margin-top:60px;margin-left:200px;width:50%;">Reset Your Password </h2>
<hr style="height:1px;width:52.5%;text-align:left;margin-left:200px;background-color:orange;"><br>
<div class="list" >

        <p>1. We've emailed you instructions for setting your password.</p>
        <p>2. If you don't receive an email, please make sure you've entered the
address you registered with.</p>

    </div>

{% endblock %}
