{% extends 'sentiment/base.html' %}
{% block title %}}Change Password{% endblock %}
{% block body %}
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    #sub
{
   background-color: #B5007A; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
  font-weight:500;
   margin-top: 10px;
   border-radius:5px;
   width:70%;
   margin-left:50px;
}
.errorlist
{
list-style:none;
 color:red;
 font-size:15px;
 margin-left:-40px;
 font-weight:600;
 margin-top:-17.5px;
}

#eye:not(:disabled):not(.disabled) {
    cursor: pointer;
}
#eye{
color:#bababa;font-size:15px;margin-bottom:5px;padding:0;font-weight:400;
}

 input {
    overflow: visible;
    width: 100%;
}
label{
width:400px;
}
#eye {
    margin-top:5px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-weight: 400;
    background-color: #10AACC;
    font-weight: bold;
    border-radius: 5px;
    margin-top:10px;
    margin-left:270px;

}

#eye:hover{
background-color:#75c0d1;

}

.card{
height:415px;
width:400px;
padding:10px 10px;
margin-left:450px;
margin-top:75px;
margin-bottom:50px;
background: #fbfbfb;
border-radius: 0px;
box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);


}
.card1{
padding:10px 10px;

}
img{
    height: 120px;
    width: 120px;

    margin-left:120px;
    margin-top:-80px;
}
h1{
font-size:30px;
text-align:center;
}

.haha{
font-weight:600;
}
.container-fluid{
margin-top:-25px;
}

.form-group {
    margin-bottom: 0px;
}
</style>
<script>

        function toggle(){


 var a = document.getElementById("id_new_password1");
 var b = document.getElementById("id_new_password2");
 var y = document.getElementById("eye");
    if (a.type === "password") {
    a.type = "text";
    y.style.color="black";
  } else {
    a.type = "password";
    y.style.color="#fff";
  }
      if (b.type === "password") {
    b.type = "text";
    y.style.color="#black";
  } else {
    b.type = "password";
    y.style.color="#fff";
  }
        }



$(document).ready(function(){
$("#reveal1").on('click',function() {
    $(this).find('i').toggleClass('glyphicon-eye-open').toggleClass('glyphicon-eye-close');
    var $pwd = $("#id_new_password1")
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});
$("#reveal2").on('click',function() {
    $(this).find('i').toggleClass('glyphicon-eye-open').toggleClass('glyphicon-eye-close');
    var $pwd = $("#id_new_password2")
    if ($pwd.attr('type') === 'password') {
        $pwd.attr('type', 'text');
    } else {
        $pwd.attr('type', 'password');
    }
});

});





</script>
{% load static %}
<div class="card">
    <div class="card1">
        <img src="{% static 'accounts/images/blue_lock.png' %}">
        <h1>Reset your password</h1>
        <hr style="height:1px;width:70%;background-color:orange;">
        <br>

        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.source.errors }}
                {{ form.source }}
                <table border="1">

                    <div class="form-group">
                        <label>{{ form.new_password1.label_tag }}</label>
                        <div class="input-group">
                            <input type="password" class="form-control pwd" {{ form.new_password1 }}</input>
                            <span class="input-group-btn">
                                   <button style="height:34px;" class="btn btn-default reveal" id="reveal1"
                                           type="button"><i toggle="#password-field"
                                                            class="glyphicon glyphicon-eye-open"></i></button>
                                    </span>
                        </div>
                        <span class="errorlist"> {{ form.new_password1.errors }}</span>

                    </div>

                    <div class="form-group">
                        <label>{{ form.new_password2.label_tag }}</label>

                        <div class="input-group">
                            <input type="password" class="form-control pwd" {{ form.new_password2 }}</input>
                            <span class="input-group-btn">
                                   <button style="height:34px;" class="btn btn-default reveal" id="reveal2"
                                           type="button"><i toggle="#password-field"
                                                            class="glyphicon glyphicon-eye-open"></i></button>
                                    </span>
                        </div>
                        <span class="errorlist"> {{ form.new_password2.errors }}</span>
                    </div>

                </table>
                <p><input type="submit" value="Change Password" id="sub"></p>
            </form>
        </div>
    </div>


</div>

{% endblock %}
